<div class="toolbar" role="banner">
    <div class="nav-logo">
        <img class="logo" src="assets\pngimg.com - amazon_PNG11.png">
    </div>
    <div class="location-block">
         <span>location</span>
    </div>
    <div class="nav-search">
        <div class="nav-fill">
              <label for="searchbox" style="display: none;">Search Amazon</label>
              <input type="text" id="searchbox" value="" name="field-keywords" autocomplete="off" placeholder="Search Amazon" class="nav-input">
            </div>
          <div class="nav-right">
            <div class="nav-search-submit nav-sprite">
              <span id="nav-search-submit-text" class="nav-search-submit-text nav-sprite nav-progressive-attribute" aria-label="Go">
                <input id="nav-search-submit-button" type="submit" class="nav-input-submit" value="Go" tabindex="0">
              </span>
            </div>
          </div>
    </div>
    <div class="spacer"></div>
  </div>
