<div class="toolbar" role="banner">
    <div class="nav-logo">
        <img class="logo" src="assets\pngimg.com - amazon_PNG11.png">
    </div>
    <div class="location-block">
         <span><i class="fa-solid fa-location-dot"></i>Deliver to user</span>
    </div>
    <div class="nav-search">
        <div class="nav-fill" > 
            <input class="nav-search-text" id="nav-search-text" type="text" placeholder="Search Amazon">
            <input name="nav-submit" id="nav-search-submit-button" type="submit" value="">
            
        </div> 
    </div>
    <div class="language">
        <!-- <a routerLink="">home</a> -->
        <a routerLink="language">En</a>
    </div>
    <div class="user-account">
        <a>hello,surya</a>
    </div>
    <div class="cart">
        <a routerLink="cart">cart</a>
    </div>

  </div>
<router-outlet></router-outlet>