
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
  }
  .spacer {
    flex: 1;
  }
  .toolbar img {
    clear: both;
    cursor: pointer;
    float: none;
    top:25px;
    flex-shrink: 0;
    padding: 15px 8px 5px 6px;
    margin: 2px;
    height: 35px;
    width: auto;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }
  .nav-logo{
    width: auto;
    padding: 4px 0 0 0;
    display: flex;
    position: relative;
    float: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    line-height: 0;
    height: 100%;
  }
  .nav-search{
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 4px 10px 3px;
    height: 60px;
    margin: 0 6px;
    width:auto;
  }